@font-face {
	font-family: titleFont;
	src: url(alwaysforever.ttf);
}


body{
	background-color: #B0FFFF;
}


#title {
	
	text-align: center;
	font-size: 140px;
	font-family: titleFont;
}

#username{
	margin: 0px auto;
	width: 30%;

	font-weight: bold;
}

#password{
	margin: 0px auto;
	width: 30%;

	font-weight: bold;
}

#submit{
	margin: 0px auto;
	width: 30%;
}

#forgotPassword{
	margin: 0px auto;
	width: 30%;
	font-size: 16px;
}

#createAccount{
	margin: 0px auto;
	width: 30%;
	font-size: 16px;
}